<% include partials/_head %>
<body>
  <% include partials/_header %>

  <p>
    <a href="<%= longURL %>"><%= longURL %></a> : <a href=<%=`/urls/${shortURL}`%>><%= shortURL %></a>
  </p>
  <form method="POST" action="/urls/<%=shortURL%>/update">
    <label for="longURL">Update URL:</label>
    <input id="longURL" type="text" name="update_longURL" placeholder=`<%= longURL %>`>
    <input type="submit" value="Update">
  </form>
  <a href="/urls">All short urls</a>
</body>
</html>