 <% include partials/_head %>
<body>
  <% include partials/_header %>

  <ul>
    <% for(var shortURL in urls){ %>
        <li>

          <a href= <%= `/u/${shortURL}` %>><%= shortURL%></a> : <%= urls[shortURL]%>
          <br>
          <div style="display:flex; flex-direction:row;"><a href="/urls/<%=shortURL%>"><button>UPDATE</button></a>
          <form method="POST" action="/urls/<%= shortURL%>/delete">
            <input type="submit" value="delete"/>
          </form></div >


        </li>
    <% } %>
    <li><a href="/urls/new">Create a New Short Link</a></li>
  </ul>


</body>
</html>